.vercel

./**/.env*
.env*
!.env.example
!.env.docker.example
rm

.turbo
node_modules
dist
.next

.tinyb

# contentlayer
.contentlayer

.DS_Store
.vscode
.dev.vars
.wrangler
.vitest
.react-email
.kiro
.idea

.secrets.json
certs/
dev/data/*
dev/config/depot.json
metald.db
bin/


go.work
go.work.sum

/wappiz
/inject
# Added by goreleaser init:
dist/

.talos

.claude/worktrees/

*.exe